# ==========================================
# Infrastructure Configuration
# ==========================================

# PostgreSQL Database
# Used by Postgres container, BotService, and AIRecommendationsService
POSTGRES_DB=newsbot
POSTGRES_USER=newsbot_admin
POSTGRES_PASSWORD=your_secure_postgres_password
POSTGRES_PORT=5433

# Grafana
# Used to secure the monitoring dashboard
GF_SECURITY_ADMIN_PASSWORD=your_secure_grafana_password

# ==========================================
# Bot Service Configuration
# ==========================================

# Telegram Bot Credentials
# Obtain these from @BotFather on Telegram
TELEGRAM_API_ID=id
TELEGRAM_API_HASH=hash

# ==========================================
#  AI Recommendations Service Configuration
# ==========================================

# Hugging Face token to use the AI model
HUGGINGFACE_TOKEN=token


# ==========================================
# UI (Mini-app) Configuration
# ==========================================

# BotService url
VITE_API_BASE_URL=your_url